.input-group-rounded {
    .input-group-field {
        border-radius: 5000px 0 0 5000px;
        padding-left: 1rem;
    }

    .input-group-button .button {
        border-radius: 0 5000px 5000px 0;
        font-size: 0.8rem;
    }
}

form {
    .form-icons {
        text-align: center;

        h4 {
            margin-bottom: 1rem;
        }

        .input-group-label {
            background-color: $primary-color;
            border-color: $primary-color;
        }

        .input-group-field {
            border-color: $primary-color;
        }

        .fa {
            color: white;
            width: 1rem; // makes the width of icon labels equal
        }
    }
}
